      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <div class="soc">
            <a href="#"><i class="fa fa-github-alt fa-2x" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
          </div>
          <p>
            Footer content
          </p>
        </div>
      </div>
    </footer>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script>

    </script>
  </body>
</html>