/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require active_admin
 */
@import "bulma";
@import "plugins";
@import "reset";
// @include respond-to(mobile) { }
// @include respond-to(tablet) { }
// @include respond-to(desktop) { }

$main_red: RGB(178, 34, 34);
$main_gray: rgb(37, 37, 37);
$transparent: #afafaf00;

@media screen and (max-width: 1087px)
{
  .hero.is-info .navbar-menu {
      background-color: $transparent;
  }
}

// Header Styles
.hero{
  &.is-info {
    background: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
            ), url('https://images.unsplash.com/photo-1505185166728-2c573eee20ad?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=29f41b45064b83780b53254ade1f3b1f&auto=format&fit=crop&w=1051&q=80') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    a.navbar-item:hover {
      background-color: $transparent;
    }
  }

  .nav, &.is-success {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .subtitle {
    padding: 3rem 0;
    line-height: 1.5;
    letter-spacing: 0.1rem;

    blockquote {
      color: white;
    }
  }
}

.navbar {

  .navbar-brand {
    font-family: Overseer;

    a {
      text-decoration: none;
    }
  }

  .navbar-burger {

    span {
      height: 2px;
    width: 20px;
    color: white;
    }
  }

  .subtitle {
    letter-spacing: 0.3rem;
  }

    .tag:not(body).is-white {
      font-size: 0.9rem;
      font-family: Georgia;
      letter-spacing: 0.1rem;
      text-decoration: none;
  }
}

.hero {
  font-family: Overseer;
  letter-spacing: 0.1rem;;
}

// End header styles

.footer {
  background: $main_gray;
}

// Page styles
.weapon {
    background: #6a6664f0;
}

.column {
  margin: 5px;
}