/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require active_admin
 */
@import "bulma";
@import "plugins";
@import "reset";
// @include respond-to(mobile) { }
// @include respond-to(tablet) { }
// @include respond-to(desktop) { }

$main_red: RGB(178, 34, 34);
$main_gray: rgb(37, 37, 37);
$transparent: #afafaf00;

// Header Styles
.nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.subtitle {
  padding: 3rem 0;
  line-height: 1.5;
  letter-spacing: 0.1rem;
}

.navbar {

  .navbar-brand {
    font-family: Overseer;

    a {
      text-decoration: none;
    }
  }

  .navbar-burger {

    span {
      height: 2px;
    width: 20px;
    }
  }

  .subtitle {
    letter-spacing: 0.3rem;
  }
}

// End header styles

.footer {

}