p.discount{
  .subtitle.is-6 {
    color: lightgray;
    text-decoration: line-through;
  }
}


.column.is-one-third {
  .card.large {
    // max-width: 350px;
    // min-width: 210px;
    // height: 330px
    @media screen and (min-width: 375px) {
      width: 295px;
    }
  }

  .card-image {
    max-width: 350px;
    min-width: 195px;
    height: 130px;
  }

  .image {
    max-height: 100%;
    max-width: 100%;
  }

  .card-content {
    .title {
      a {
        text-decoration: none;
        color: #4d4d4d;
      }
    }
  }
}

.next-weapon, .previous-weapon {
  background: #fafafa;
}